*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/assets/css/katex.min.css
/app/src/main/assets/js/auto-render.min.js
/app/src/main/assets/js/katex.min.js
/app/src/main/assets/js/MathJax.js
/app/src/main/java/cn/edu/bnu/demo_collection/Api.java
/app/src/main/java/cn/edu/bnu/demo_collection/BaseUrl.java
/app/src/main/java/cn/edu/bnu/demo_collection/HtmlLatexActivity.java
/app/src/main/java/cn/edu/bnu/demo_collection/LatexImageRenderer.java
/app/src/main/java/cn/edu/bnu/demo_collection/MarkDownLatexUtil.java
/app/src/main/java/cn/edu/bnu/demo_collection/RetrofitClient.java
/app/src/main/java/cn/edu/bnu/demo_collection/ServiceGenerator.java
/app/src/main/java/cn/edu/bnu/demo_collection/WebViewLatexUtil.java
/app/src/main/res/drawable/ic_launcher_background.xml
/app/src/main/res/drawable/ic_launcher_foreground.xml
/app/src/main/res/layout/activity_html_latex.xml
/app/src/main/res/layout/item_html_latex_text.xml
/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
/app/src/main/res/mipmap-hdpi/ic_launcher.webp
/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
/app/src/main/res/mipmap-mdpi/ic_launcher.webp
/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
/app/src/main/res/values/colors.xml
/app/src/main/res/values/strings.xml
/app/src/main/res/values/themes.xml
/app/src/main/res/values-night/themes.xml
/app/src/main/res/xml/backup_rules.xml
/app/src/main/res/xml/data_extraction_rules.xml
/app/src/main/AndroidManifest.xml
/app/src/test/java/cn/edu/bnu/demo_collection/ExampleUnitTest.java
/app/src/androidTest/java/cn/edu/bnu/demo_collection/ExampleInstrumentedTest.java
/.idea/
/.vscode/
